.about{
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 50px 0;

    // Apie mane

    .aboutMe{
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        padding: 50px 0;

        h2{
            font-size: 30px;
            letter-spacing: 1px;
        }

        .separator{

            width: 150px;
            height: 8px;
            background-color: rgb(116, 187, 181);
            margin: 30px auto;
            
        }
            
            
    }

    // Skills


    .skills{
        text-align: center;
        max-width: 80%;
        margin: 20px auto;

        .skillsList, .otherSkills{
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;

            

            li{
                img{
                    width: 50px;
                    margin: 20px;
                }
            }
        }
    }



}